{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="welcome-container border" > 
  <h1 class="welcome-title">
    Welcome to BleuMedia
  </h1>
  <p class="welcome-desc">
    This is your personal video library and media management platform.<br>
    Upload, organise, and watch your favourite videos securely.<br>
    Tag your media, search your collection, and enjoy a seamless experience.<br>
  </p>
  <div class="welcome-btns">
    <a class='btn submit-btn' href="{{ url_for('register') }}">Register</a>
    <span class="welcome-or">or</span>
    <a class='btn submit-btn' href="{{ url_for('login') }}">Login</a>
  </div>
</div>
{% endblock %}
